<section class="user-index-cont">
  <button type="button" class="create-btn">
    <%= link_to "Create A Post For The First User", new_user_post_path(@users.first.id) , class: "like-btn" %>
  </button>
  <% @users.each do |user| %>
  <a href='/users/<%= user.id %>'>
    <%= render 'shared/user', user:user %>
    <a>
    <% end %>
  </section>