<div class="user-card-cont">
    <img src= <%= user.photo %> alt= '<%= user.name + ' photo'%>'/>
    <div>
      <h2><%= user.name %></h2>
      <h4>Number of posts: <%= user.posts_counter %></h4>
    </div>
</div>