*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

section {
  width: 70%;
  margin: 40px auto;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
}

p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}

button {
  padding: 10px 40px;
  border: 2px #000 solid;
  background-color: transparent;
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.user-card-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.user-card-cont img {
  border: 2px #000 solid;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.user-card-cont div {
  width: calc(95% - 140px);
  border: 2px #000 solid;
  padding: 20px;
}

.user-card-cont div h4 {
  text-align: end;
}

.bio-wrapper {
  border: 2px #000 solid;
  padding: 10px 10px 40px 10px;
  margin-bottom: 40px;
}

.list-cont li {
  margin-bottom: 40px;
}

.list-cont li,
.post-list-cont li,
.comments-list-cont {
  list-style: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  border: 2px #000 solid;
  padding: 10px 10px 40px 10px;
}

.list-cont li span,
.post-list-cont li span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 700;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-wrapper {
  display: grid;
  row-gap: 1px;
}

.comments-list-cont {
  margin-bottom: 40px;
}

.post-wrapper {
  display: grid;
  row-gap: 10px;
  border: 2px #000 solid;
  padding: 10px 10px 40px 10px;
  margin-bottom: 1px;
}

.post-wrapper div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-wrapper div span:first-child {
  font-size: 17px;
  font-weight: 600;
}

.post-wrapper div span:last-child {
  font-size: 13px;
  font-weight: 700;
}
